<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Laserstrike</title>
    <!-- <meta name="description" content="Flat UI Kit Free is a Twitter Bootstrap Framework design and Theme, this responsive framework includes a PSD and HTML version."/> -->

    <!-- <meta name="viewport" content="width=250, initial-scale=1.0, maximum-scale=1.0"> -->
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1"> -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <!-- Loading Bootstrap -->
    <!-- <link href="static/Flat-UI/bootstrap/css/bootstrap.css" rel="stylesheet">

    <!-- Loading Flat UI -->
    <!--
    <link href="static/Flat-UI/css/flat-ui.css" rel="stylesheet">
    <link href="static/Flat-UI/css/demo.css" rel="stylesheet">-->

    {% assets "css_all" %}
      <link href="{{ ASSET_URL }}" rel="stylesheet" type="text/css" />
    {% endassets %}

    <link rel="shortcut icon" href="static/Flat-UI/images/favicon.ico">

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements. All other JS at the end of file. -->
    <!--[if lt IE 9]>
      <script src="js/html5shiv.js"></script>
      <script src="js/respond.min.js"></script>
    <![endif]-->
  </head>
  <body onload="timedRefresh(1000);">
    <div class="container">
      <div class="row">
        <h1>
        <!--   <div class="logo"></div>--> 
          Laserstrike
        </h1>
      </div> <!-- /demo-headline --> 

      <!-- <h1 class="demo-section-title">Basic elements</h1>
      <h3 class="demo-panel-title">Buttons</h3> -->
      <div id="refresh-row">
      <div class="row demo-row" id="refresh-row">
      <div class="col-md-2 demo-names">
          <a href="#" class="btn btn-block btn-lg btn-info">Time: {{ time }} </a>
        </div>
         <div class="col-md-2 demo-names">
          <a href="#" class="btn btn-block btn-lg btn-info">Game: {{ num }} </a>
        </div>
	{% if ready %}
        <div class="col-md-2 demo-names">
          <a href="{{ url_for('ready') }}" class="btn btn-block btn-lg btn-primary">Ready</a>
        </div>
	{% endif %}
	{% if start %}
        <div class="col-md-2  demo-names">
          <a href="{{ url_for('start') }}" class="btn btn-block btn-lg btn-warning">Start</a>
        </div>
	{% endif %}
	{% if save %}
        <div class="col-md-2 demo-names">
          <a href="{{ url_for('save') }}" class="btn btn-block btn-lg btn-default">Save</a>
        </div>
	{% endif %}
	{% if print %}
        <div class="col-md-2 demo-names">
          <a href="{{ url_for('print_scores') }}" class="btn btn-block btn-lg btn-danger">Print</a>
        </div>
	{% endif %}
	{% if receive %}
        <div class="col-md-2 demo-names">
          <a href="{{ url_for('receive') }}" class="btn btn-block btn-lg btn-success">Receive</a>
        </div>
	{% endif %}
	{% if abort %}
	<div class="col-md-2 demo-names">
          <a href="{{ url_for('abort') }}" class="btn btn-block btn-lg btn-inverse">Abort</a>
        </div>
	{% endif %}
  <div class="col-md-2 demo-names">
          <a href="#" class="btn btn-block btn-lg btn-info">Player1: {{ name }} </a>
        </div>
      </div> <!-- /row -->

    </div>
    </div> <!-- /container -->

    <footer>
      <div class="container">
        <div class="row">
          <div class="col-md-3">
            <h3 class="footer-title">Created by Zack Field</h3>
          </div> <!-- /col-xs-7 -->
	  
        </div>
      </div>
    </footer>
    
    <!-- Load JS here for greater good =============================
    <script src="/static/js/index.js"></script>
    <script src="/static/Flat-UI/js/jquery-1.8.3.min.js"></script>
    <script src="/static/Flat-UI/js/jquery-ui-1.10.3.custom.min.js"></script>
    <script src="/static/Flat-UI/js/jquery.ui.touch-punch.min.js"></script>
    <script src="/static/Flat-UI/js/bootstrap.min.js"></script>
    <script src="/static/Flat-UI/js/bootstrap-select.js"></script>
    <script src="/static/Flat-UI/js/bootstrap-switch.js"></script>
    <script src="/static/Flat-UI/js/flatui-checkbox.js"></script>
    <script src="/static/Flat-UI/js/flatui-radio.js"></script>
    <script src="/static/Flat-UI/js/jquery.tagsinput.js"></script>
    <script src="/static/Flat-UI/js/jquery.placeholder.js"></script>
    <script src="/static/Flat-UI/js/application.js"></script>-->
    {% assets "js_all" %}
      <script type="text/javascript" src="{{ ASSET_URL }}"></script>
    {% endassets %}
  </body>
</html>
